body {
    font-family: "Courier";
    font-size: 14px;
    text-align: justify;
    line-height: 18px;
}

.newEntryForm {
    display: inline;
}

.newEntryField {
    font-family: inherit;
    font-size: inherit;
    border: none;
    /* width: 0px; */
}

.newEntryField:focus {
    outline: none;
}

.big {
    font-size: 20px;
}

.small {
    font-size: 10px;
}