body {
    font-family: "Courier";
    font-size: 12px;
    line-height: 22px;
}

.dbEntries {
    text-align: justify;
    text-align-last: left;
}

.newEntryField {
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 100%;
}

.newEntryField:focus {
    outline: none;
}

.big {
    font-size: 20px;
}

.small {
    font-size: 10px;
}